/* ---------------------------------------- */
/* GENERAL DOCUMENT STYLING */
/* ---------------------------------------- */

body {
	background: #FFF;
	color: #444;
	font-size: 62.5%;
	margin: 0 auto;
	min-width: 20em;
	max-width: 140em;
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background: orange;
}

::selection  {
	background: orange;
}

a:link, a:visited {
	color: #444;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

:focus {
	outline: 0;
}


/* ---------------------------------------- */
/* DOCUMENT HEADER STYLING */
/* ---------------------------------------- */

body > header {}





/* ---------------------------------------- */
/* MAIN CONTENT STYLING */
/* ---------------------------------------- */

h1, h2, h3 {
	letter-spacing: 4px;
	text-align: center;
	text-transform: uppercase;
}


section {
	background: #FFD55E;
	background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffd65e 0%,#febf04 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */

	border: solid 3px orange;
	border-radius: 10px;
	margin: 2em auto;
	overflow: hidden;
	padding: 1em;
	text-align: center;
}

#panel-1 {
	width: 45em;
}

.mockup {
	font-size: 1.5em;
	position: relative;
	width: 60em;
}


form {
	font-size: 1.5em;
	margin: 1em auto;
	text-align: center;
	width: 25em;
}

[type='text'], [type='submit'], [type='password'] {
	background: #FFFEAD;
	border: solid 1px orange;
	height: 2.8em;
	margin: 0 1em;
	padding: .5em;
	transition: all .4s;
	width: 16em;
}

[type='radio'] {
	margin: .4em;
}

input:focus, [type='submit']:hover {
	border: solid 1px #FA6900;
	box-shadow: 0 0 6px #FA6900;
	transition: all .4s;
}

.column {
	display: inline-block;
	height: 2em;
	vertical-align: middle;
	width: 6em;
}

.column~input {
	width: 16em;
}

[type='submit'] {
	background: orange;
}

.small {
	text-align: right;
	margin: 0;
}

select {
	background: #FFFEAD;
	border: solid 1px orange;
	height: 2.5em;
	margin: 0 1em;
	padding: .5em;
	transition: all .4s;
	width: 16em;
}

.wrapper1 {
	border-bottom: solid 1px orange;
	border-top: solid 1px orange;
	display: inline-block;
	margin: 1em;
	padding: .2em;
	text-align: left;
}

.radio {
	width: 6em;
	background: red;
}

#panel-2 [type='submit'] {
	margin: 20px;
}

.highlight {
	border: solid 1px orange;
	font-weight: bold;
	padding: 3px;
}

.highlight2 {
	border: solid 1px orange;
	border-radius: 1em;
	display: inline-block;
	height: 25px;
	margin: 2px;
	padding: 2px 7px;
	width: 25px;
}

#panel-4 form, #panel-7 form, #panel-8 form, #panel-9 form, #panel-10 form, #panel-11 form, #panel-12 form {
	font-size: 1em;
}

#panel-5 a, #panel-6 a, #panel-9 a, #panel-10 a, #panel-11 a {
	background: orange;
	border: solid 1px orange;
	border-radius: 5px;
	display: inline-block;
	padding: .5em;
	transition: all ease-out .5s;
}

#panel-5 a:hover, #panel-6 a:hover, #panel-9 a:hover, #panel-10 a:hover, #panel-11 a:hover {
	background: #FFFEAD;
	text-decoration: none;
	transition: all ease-out .5s;
}

table {
	border: solid 1px #FFFEAD;
	margin: 0 auto;
	width: 95%;
}

thead {
	border-bottom: solid 1px #FFFEAD;
}

table th {
	background: #FFFEAD;
	font-weight: normal;
	height: 40px;
}

td {
	padding: 5px 2px;
}

tr:hover {
	background: orange;
}

.grades {
	background: #FFFEAD;
	border: solid 1px orange;
	padding: 2px 5px;
	width: 32px;
}

.side-button {
	border: solid 1px orange;
	border-radius: 5px;
	cursor: pointer;
	cursor: hand;
	font-size: .9em;
	padding: 5px;
	position: absolute;
	top: 10px;
	transition: .4s;
}

.side-button:hover {
	background: orange;
	transition: .4s;
}

.left {
	left: 10px;
}

.right {
	right: 10px;
}

.wide {
	width: 90%;
}

.floated-left {
	display: inline;
}

fieldset {
	border: solid 1px orange;
}

.title {
	background: #A52A2A;
	border-radius: 4px;
	color: #FFF;
	margin: 12px auto;
	padding: 7px;
	width: 40%;
} 